.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #eeecee;
  color: white;
  font-weight: 600;
  padding: 0px 30px;
}

.heading {
  color: green;
}
